.red {
    color: red;
}

.big-text {
    font-size: 2.5rem;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    border: solid;
    border-color: black;
    border-width: .6rem;
    border-radius: 10rem;
    padding: 1.3rem;
    animation: fadeIn ease 5s;

}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.nav-grad {
    background: linear-gradient(180deg,
    rgba(0,150,205,1) 0%,
    black 60%);
}

.chart{
    height: 1000px;
    width: 1000px;

}

.nav-image{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}